#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# X Window System configuration information
xconfig  --startxonboot
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# Root password
rootpw --iscrypted $1$TYFYOHw9$cz9rVwHOVH6mdZFRSxxwG/
# System language
lang en_US
user --groups=wheel --name=student --password=$6$mfEwxek4EP0cm0ng$1RwnAGbDCcRWPy6fLJWI.y20DUAdcwC/ERzEe619.blQhK6NDhKM5xxO9uc4mOEicXgKRqOWvQ/rimDawszsl1 --iscrypted --gecos="student"
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --enforcing

# System services
services --disabled="chronyd"
ignoredisk --only-use=sda
# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=ens192
network  --bootproto=dhcp --device=None
# Halt after installation
halt
# System timezone
timezone Europe/Moscow --nontp
# System bootloader configuration
bootloader --location=none --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.157 --fstype="lvmpv" --ondisk=sda --size=19455
part /boot --fstype="xfs" --ondisk=sda --size=1024

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@mariadb
@multimedia
@print-client
@x11

%end
